@import url('https://fonts.googleapis.com/css2?family=Wix+Madefor+Display:wght@400..800&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-family: "Wix Madefor Display", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.main {
    display: flex;
    flex-direction: row-reverse;
}


.inner-box {
    height: 100vh;
    background-color: #4985C3;
    margin-left: -10vh;
}


.inner-box .logo img {
    margin-left: 30%;
    margin-top: 10vh;
    font-size:3px;
}

.logo h1{
    margin-left: 40%;
    margin-top: -5vh;
    margin-bottom: 6vh;
    color: white;
    font-weight: 900;
    font-family: cursive;
}


.content {
    width: 100% !important;
    margin-top: 7vh;
    margin-left: 15%;
    
}

.content label {
    color: white;
    font-size: 25px;
    margin-left: 10%;
}

.content input {
    width: 50%;
    height: 4vh;
    margin-bottom: 5vh;
    margin-top: 2vh;
    margin-left: 10%;
    border-radius: 10px;
    border-style: hidden;
    font-size: 17px;
    color: black !important;
    padding: 5px;
    padding-left: 10px;
}

.content button {
    width: 20%;
    height: 4vh;
    border-radius: 10px;
    border-style: hidden;
    color: white;
    background-color: green;
    margin-left: 25%;
}

.row2{
    width: 50%;
}

.faculty {
    margin-top: 4vh;
    margin-left: -30%;
    text-align: center;
}

.faculty a {
    color: white;
    text-align: center;
    text-decoration: none;
}

.faculty a:hover {
    color: antiquewhite;
    text-decoration: underline;
}

.social {
    text-align: center;
    margin-left: -30%;
    margin-top: 7vh;
    color: white;
}

.social p {
    font-size: 20px;
}

.social .icon {
    font-size: 25px;
    margin-left: -3%;
}

.icon i {
    margin-left: 3%;
    color: white;
}

.icon i:hover {
    color: antiquewhite;
}
.fas{
    margin-left: -5vh;
    padding-bottom: -5vh;
    color: #004081;
}
.error {
    color: red;
    font-size: 18px;
}

#regError {
    margin:-3.5vh 0vh 3vh 12vh;
}

#passwordError {
   margin:-3.5vh 0vh 3vh 12vh;
}

.inputField.error {
    border: 1px solid red;
}


@media (max-width:1025px) {
    .main .bg-img img {
        display: none;
    }
    .inner-box{
        margin-left: -50vh;
    }

    .inner-box .content {
        margin-left: 20%;
        width: 100%;
        
    }

    .logo h1{
        font-size: 20px;
        margin-left: 50%;
    }

    .content input {
        width: 60%;
    }

    .content button {
        margin-left: 30%;
    }

    .faculty {
        padding-left: 5vh;
    }

    .social {
        padding-left: 7vh;
    }
}

@media (max-width:450px) {
    body {
        overflow-y:hidden;
    }

    .content label {
        font-size: 20px;
    }

    .inner-box .logo img {
        width: 60% !important;
        margin-left: 15%;
    }
    .error{
        font-size: 15px;
    }
    .inner-box {
        width: 100%;
        background:url(../images/bg-sathyabama.jpg);      
        background-repeat: no-repeat;
        background-size: 100% 100%;
    }
    .inner-box .content{
        margin-left: 12%;
    }
}